.width-18 {
    width: 18rem;
}

.display-flex {
    display: flex;
    justify-content: center;
    /* display: grid;
    /* grid-template-columns: 60px 60px 60px 60px 60px 60px 60px; */
    /* grid-template-rows: 30px 30px; */
}